#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/zhaiyy')  zhaiyy.
